<h2 class="section_title">Карточки с описанием заданий</h2>
<div class="block-third-main">
  <div class="horizontal-sliders">

<!--    -->
    <div class="slide">
      <div class='card' data-card>
        <div class='card__inner'>
          <div class="card_open_title">Создание репозитория-портфолио</div>
          <div class='card__image'>
            <img  src="../assets/git.png" alt='The Fountain' />
          </div>
        </div>
        <div class="card_pre_information">
          <p class="card_pre_information__title">
            Введение в технологию git
          </p>
          <p class="card_pre_information__desc">
            Git - это консольная утилита, для отслеживания и ведения истории изменения файлов, в вашем проекте. Чаще всего его используют для кода, но можно и для других файлов. Например, для картинок - полезно для дизайнеров.

            С помощью Git-a вы можете откатить свой проект до более старой версии, сравнивать, анализировать или сливать свои изменения в репозиторий.

            Репозиторием называют хранилище вашего кода и историю его изменений. Git работает локально и все ваши репозитории хранятся в определенных папках на жестком диске.

            Так же ваши репозитории можно хранить и в интернете. Обычно для этого используют три сервиса:

            GitHub

            Bitbucket

            GitLab

            Каждая точка сохранения вашего проекта носит название коммит (commit). У каждого commit-a есть hash (уникальный id) и комментарий. Из таких commit-ов собирается ветка. Ветка - это история изменений. У каждой ветки есть свое название. Репозиторий может содержать в себе несколько веток, которые создаются из других веток или вливаются в них.
          </p>
          <p class="card_pre_information__desc">

          </p>
        </div>
      </div>
      <div class='content__group'>
        <p class='content__heading'>Создание репозитория-портфолио</p>
        <p class='content__category'>Сайт визитная карточка</p>
        <p class='content__description'>
          Введение в git и основы верстки сайтов, представление о том, как происходит деплой кода и представление работы браузера
        </p>
        <a class="card_button" href="https://docs.google.com/document/d/1oY3VClWCr4nUfZql2Roq2Mq7L8JEDBL7C222vVltABY" target="_blank">
          Открыть задание
        </a>
      </div>
    </div>

    <div class="slide">
      <div class='card' data-card>
        <div class='card__inner'>
          <div class="card_open_title">Совместая работа в группе, введение в методологии разработки, JIRA</div>
          <div class='card__image'>
            <img  src="../assets/atlassian_tools_featured.png" alt='The Fountain' />
          </div>
        </div>
        <div class="card_pre_information">
          <p class="card_pre_information__title">
            Работа над совместным проектом с использование JIRA
          </p>
          <p class="card_pre_information__desc">
            Agile — это структурированный итеративный подход к управлению проектами и разработке продуктов. В нем учитывается непостоянный характер разработки продуктов. Самоорганизующиеся команды, выбравшие этот подход, получают возможность реагировать на изменения, не отклоняясь от намеченного пути. В наши дни agile не дает особого преимущества перед конкурентами. Сегодня просто невозможно разрабатывать продукт в течение нескольких месяцев или даже лет в условиях полной секретности. А значит, сейчас как никогда важно работать правильно.

            Суть Kanban — в визуализации работы, ограничении объема незавершенной работы и достижении максимальной эффективности (или скорости). Kanban-команды стремятся максимально сократить время, которое уходит на выполнение проекта (или пользовательской истории) от начала до конца. Для этого они используют доску Kanban и непрерывно совершенствуют свой рабочий процесс.

            Задача Scrum-команд — создать инкремент (промежуточный продукт работы), который теоретически можно поставить, за ряд промежутков времени, которые называются спринтами. Они стремятся создавать циклы обучения для быстрого сбора и учета отзывов клиентов. Scrum-команды используют особые роли, создают специальные артефакты и проводят регулярные собрания, чтобы работа шла в нужном русле. Лучше всего методика Scrum описана в руководстве по Scrum.
          </p>

        </div>
      </div>
      <div class='content__group'>
        <p class='content__heading'>Создание доски для совместной работы над задачами</p>
        <p class='content__category'>Введение в общий процесс разработки</p>
        <p class='content__description'>
          Введение в jira и методологии разработки, представление о том, как происходит работа в команде и зоны ответсвенности
        </p>
        <a class="card_button" href="https://docs.google.com/document/d/1KFvLgN6Gb98a9-m7ZDLJEB3TLdUmfhFmfgmETLgjK60/edit" target="_blank">
          Открыть задание
        </a>
      </div>
    </div>

    <div class="slide">
      <div class='card' data-card>
        <div class='card__inner'>
          <div class="card_open_title">Создание репозитория-портфолио</div>
          <div class='card__image'>
            <img  src="../assets/git.png" alt='The Fountain' />
          </div>
        </div>
        <div class="card_pre_information">
          <p class="card_pre_information__title">
            Введение в технологию git
          </p>
          <p class="card_pre_information__desc">
            Git - это консольная утилита, для отслеживания и ведения истории изменения файлов, в вашем проекте. Чаще всего его используют для кода, но можно и для других файлов. Например, для картинок - полезно для дизайнеров.

            С помощью Git-a вы можете откатить свой проект до более старой версии, сравнивать, анализировать или сливать свои изменения в репозиторий.

            Репозиторием называют хранилище вашего кода и историю его изменений. Git работает локально и все ваши репозитории хранятся в определенных папках на жестком диске.

            Так же ваши репозитории можно хранить и в интернете. Обычно для этого используют три сервиса:

            GitHub

            Bitbucket

            GitLab

            Каждая точка сохранения вашего проекта носит название коммит (commit). У каждого commit-a есть hash (уникальный id) и комментарий. Из таких commit-ов собирается ветка. Ветка - это история изменений. У каждой ветки есть свое название. Репозиторий может содержать в себе несколько веток, которые создаются из других веток или вливаются в них.
          </p>
          <p class="card_pre_information__desc">

          </p>
        </div>
      </div>
      <div class='content__group'>
        <p class='content__heading'>Создание репозитория-портфолио</p>
        <p class='content__category'>Сайт визитная карточка</p>
        <p class='content__description'>
          Введение в git и основы верстки сайтов, представление о том, как происходит деплой кода и представление работы браузера
        </p>
        <a class="card_button" href="https://docs.google.com/document/d/1oY3VClWCr4nUfZql2Roq2Mq7L8JEDBL7C222vVltABY" target="_blank">
          Открыть задание
        </a>
      </div>
    </div>

    <div class="slide">
      <div class='card' data-card>
        <div class='card__inner'>
          <div class="card_open_title">Создание репозитория-портфолио</div>
          <div class='card__image'>
            <img  src="../assets/git.png" alt='The Fountain' />
          </div>
        </div>
        <div class="card_pre_information">
          <p class="card_pre_information__title">
            Введение в технологию git
          </p>
          <p class="card_pre_information__desc">
            Git - это консольная утилита, для отслеживания и ведения истории изменения файлов, в вашем проекте. Чаще всего его используют для кода, но можно и для других файлов. Например, для картинок - полезно для дизайнеров.

            С помощью Git-a вы можете откатить свой проект до более старой версии, сравнивать, анализировать или сливать свои изменения в репозиторий.

            Репозиторием называют хранилище вашего кода и историю его изменений. Git работает локально и все ваши репозитории хранятся в определенных папках на жестком диске.

            Так же ваши репозитории можно хранить и в интернете. Обычно для этого используют три сервиса:

            GitHub

            Bitbucket

            GitLab

            Каждая точка сохранения вашего проекта носит название коммит (commit). У каждого commit-a есть hash (уникальный id) и комментарий. Из таких commit-ов собирается ветка. Ветка - это история изменений. У каждой ветки есть свое название. Репозиторий может содержать в себе несколько веток, которые создаются из других веток или вливаются в них.
          </p>
          <p class="card_pre_information__desc">

          </p>
        </div>
      </div>
      <div class='content__group'>
        <p class='content__heading'>Создание репозитория-портфолио</p>
        <p class='content__category'>Сайт визитная карточка</p>
        <p class='content__description'>
          Введение в git и основы верстки сайтов, представление о том, как происходит деплой кода и представление работы браузера
        </p>
        <a class="card_button" href="https://docs.google.com/document/d/1oY3VClWCr4nUfZql2Roq2Mq7L8JEDBL7C222vVltABY" target="_blank">
          Открыть задание
        </a>
      </div>
    </div>

    <div class="slide">
      <div class='card' data-card>
        <div class='card__inner'>
          <div class="card_open_title">Создание репозитория-портфолио</div>
          <div class='card__image'>
            <img  src="../assets/git.png" alt='The Fountain' />
          </div>
        </div>
        <div class="card_pre_information">
          <p class="card_pre_information__title">
            Введение в технологию git
          </p>
          <p class="card_pre_information__desc">
            Git - это консольная утилита, для отслеживания и ведения истории изменения файлов, в вашем проекте. Чаще всего его используют для кода, но можно и для других файлов. Например, для картинок - полезно для дизайнеров.

            С помощью Git-a вы можете откатить свой проект до более старой версии, сравнивать, анализировать или сливать свои изменения в репозиторий.

            Репозиторием называют хранилище вашего кода и историю его изменений. Git работает локально и все ваши репозитории хранятся в определенных папках на жестком диске.

            Так же ваши репозитории можно хранить и в интернете. Обычно для этого используют три сервиса:

            GitHub

            Bitbucket

            GitLab

            Каждая точка сохранения вашего проекта носит название коммит (commit). У каждого commit-a есть hash (уникальный id) и комментарий. Из таких commit-ов собирается ветка. Ветка - это история изменений. У каждой ветки есть свое название. Репозиторий может содержать в себе несколько веток, которые создаются из других веток или вливаются в них.
          </p>
          <p class="card_pre_information__desc">

          </p>
        </div>
      </div>
      <div class='content__group'>
        <p class='content__heading'>Создание репозитория-портфолио</p>
        <p class='content__category'>Сайт визитная карточка</p>
        <p class='content__description'>
          Введение в git и основы верстки сайтов, представление о том, как происходит деплой кода и представление работы браузера
        </p>
        <a class="card_button" href="https://docs.google.com/document/d/1oY3VClWCr4nUfZql2Roq2Mq7L8JEDBL7C222vVltABY" target="_blank">
          Открыть задание
        </a>
      </div>
    </div>
  </div>
</div>


<!--<div *ngFor="let card of cards" class="slide">-->
<!--  <div class='card' data-card>-->
<!--    <div class='card__inner'>-->
<!--      <div class="card_open_title">{{card.buttonTitle}}</div>-->
<!--      <div class='card__image'>-->
<!--        <img src="../assets/git.png" [alt]="card.imageAlt" />-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card_pre_information">-->
<!--      <p class="card_pre_information__title">-->
<!--        {{card.informationTitle}}-->
<!--      </p>-->
<!--      <p *ngFor="let info of card.informationArticles" class="card_pre_information__desc">-->
<!--        {{info}}-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class='content__group'>-->
<!--    <p class='content__heading'>Создание репозитория-портфолио</p>-->
<!--    <p class='content__category'>Сайт визитная карточка</p>-->
<!--    <p class='content__description'>-->
<!--      Введение в git и основы верстки сайтов, представление о том, как происходит деплой кода и представление работы браузера-->
<!--    </p>-->
<!--    <a class="card_button" href="https://docs.google.com/document/d/1oY3VClWCr4nUfZql2Roq2Mq7L8JEDBL7C222vVltABY" target="_blank">-->
<!--      Открыть задание-->
<!--    </a>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="slide">-->

<!--</div>-->
<!--<div class="slide">-->

<!--</div>-->
<!--<div class="slide">-->

<!--</div>-->
<!--<div class="slide">-->

<!--</div>-->
