a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background: var(--selection-color);
  color: white;
  text-shadow: none;
}

.block-third-main{
  overflow-x:hidden;
}
.horizontal-sliders{
  display:flex;
  flex-wrap: no-wrap;
  width: 500%;
  overflow-x:hidden;
}

.slide{
  height:90vh;
  width:100%;
}

.next-block{
  height:90vh;
}

.card{
  display: flex;
  flex-direction: column;
  gap: 20px;
  //padding-top: 100px;
}

.card,
.card__image {
  width: 100%;
  height:  100%;
  display: flex;
  //@media (max-width: 768px) {
  //  width: 200px;
  //  height: 200px;
  //}
}

.card__inner {
  min-width: fit-content;
  width: fit-content;
  height: fit-content;
}
.card_open_title{
  width: fit-content;
  padding: 10px 5px;
  background-color: white;
  border-radius: 8px;
}
.card {
  cursor: pointer;
  flex: 0 0 auto;
  margin: 10px;
}

.card__inner {
  padding-top: 100px;
  will-change: transform;
  //box-shadow: 0 4px 10px rgba(black, 0.08);
  border-radius: 8px;
  overflow: hidden;
}

.card__image {
  overflow: hidden;
  position: relative;

  > img {
    will-change: transform;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: transform 0.3s;
  }

  &:hover > img {
    transform: scale(1.1);
  }
}

.card_button{

}

// ---------------------------------------------------------------
// Card - Active
// ---------------------------------------------------------------

.card.is-active {
  .card_open_title{
    display: none;
  }
  .card_pre_information{
    display: none;
  }
  .card__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //box-shadow: 0 6px 20px rgba(black, 0.05);
    width: 45%;
    height: 100%;
    z-index: 1;
    border-radius: 0;
  }

  .card__image {
    width: 100%;
    height: 100%;

    &:hover > img {
      transform: scale(1);
    }

    //@media (max-width: 768px) {
    //  width: 50vw;
    //  height: 100vh;
    //}
  }
}

.content {
  pointer-events: none;
}

.content__group {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  padding: 8vw;
  width: 45%;

  //@media (max-width: 768px) {
  //  top: 40px;
  //  left: auto;
  //  bottom: 40px;
  //  width: 50vw;
  //}
}

.content__heading {
  font-size: 42px;

  //@media (max-width: 768px) {
  //  font-size: 64px;
  //}
}

.content__category {
  display: inline-block;
  color: rgba(#b70000, 0.8);
  font-size: 14px;
  padding: 0 12px;
  line-height: 30px;
  border-radius: 15px;
  align-self: flex-start;
  margin-top: 8px;
}

.content__description {
  font-size: 17px;
  line-height: 1.5;
  margin-top: 55px;
  color: #888888;
}


//.cards {
//  margin: auto 0;
//  width: 150px;
//  max-width: 750px;
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: center;
//
//  @media (max-width: 768px) {
//    width: 90%;
//  }
//}
