<inst-default-layout>

  <div class="main-section-block">
    <inst-block-second></inst-block-second>
  </div>

  <div class="main-section-block" style="margin-bottom: 400px">
    <inst-block-first></inst-block-first>
  </div>

  <div class="main-section-block -margin-top-500">
    <inst-block-third></inst-block-third>
  </div>

<!--  <div class="main-section-block -margin-top">-->
<!--    <inst-block-four></inst-block-four>-->
<!--  </div>-->

<!--  <div class="main-section-block">-->
<!--    <inst-block-five></inst-block-five>-->
<!--  </div>-->

<!--  <div class="main-section-block">-->
<!--    <inst-block-six></inst-block-six>-->
<!--  </div>-->

<!--  <div class="main-section-block">-->
<!--    <inst-block-seven></inst-block-seven>-->
<!--  </div>-->

  <div class="main-section-block">
   <inst-block-eight></inst-block-eight>
  </div>

</inst-default-layout>
