
<ul>
  <li>
    Ссылки на соцсети и почту
    <ul>
      <li>
        ...
      </li>
      <li>
        ...
      </li>
      <li>
        ...
      </li>
    </ul>
  </li>
  <li>
    Ссылки на смежные сайты
    <ul>
      <li>
        ...
      </li>
      <li>
        ...
      </li>
      <li>
        ...
      </li>
    </ul>
  </li>
  <li>
    Дополнительная информация
    <ul>
      <li>
        ...
      </li>
      <li>
        ...
      </li>
      <li>
        ...
      </li>
    </ul>
  </li>
</ul>
